body {
  background-color: lightgray;
  font-family: 'Impact', sans-serif;
  text-align: center;
}

h1 {
  color: darkblue;
}

img {
  height: 80vh;
  width: auto;
}

/* Main container for image */
.container {
  position: relative;
}

/* Caption text */
.text {
  color: #f2f2f2;
  position: absolute;
  -webkit-text-stroke: 1px black;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

/* Bottom caption text */
#center-bottom {
  top: 87%;
  left: 50%;
}

/* Top caption text */
#center-top {
  top: 10%;
  left: 50%;
}
